<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cliente</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--Import materialize.css-->
<link href="/materialize/css/materialize.min.css"
	media="screen,projection" type="text/css" rel="stylesheet" />
<!--Import main.css-->
<link href="/css/main/main.css" media="screen,projection" type="text/css"
	rel="stylesheet" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>


<script>
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.sidenav');
		var instances = M.Sidenav.init(elems);
	});

	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.modal');
		var instances = M.Modal.init(elems);
	});
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('select');
		var instances = M.FormSelect.init(elems);
	});

	function changeConsuming () {

		var url = "/clienteConsumingJsonNome/";
		var complemento = document.getElementById('nomeConsuming').value;
		if (complemento == "") {
			alert("Preencha o campo para pesquisa");
			return;
		}
		window.location.href  = (url + complemento);
	}

	function changeResponding () {
		var url = "/clienteRespondingJsonNome/";
		var complemento = document.getElementById('nomeResponding').value;
		if (complemento == "") {
			alert("Preencha o campo para pesquisa");
			return;
		}
		window.location.href  = (url + complemento);
	}

	</script>

</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Link para Teste Json</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/" class="waves-effect waves-light "> <i
							class="material-icons right">home</i>Home
					</a></li>

					<li><a href="/clientes" class="waves-effect waves-light ">
							<i class="material-icons left">people</i>Cliente
					</a></li>
					<li><a href="/campanhas" class="waves-effect waves-light ">
							<i class="material-icons left">cake</i>Campanha
					</a></li>
				</ul>
			</div>
		</nav>
	</header>


	<div style="color: red; background-color: powderblue;">
		<th:block th:include="mensagemValidacao"></th:block>
	</div>
	<div class="container">
		<form method="POST" name="formJson">
			<div class="row">
				<div class="formCampanha col s6">
					<h5>Links para teste de Json</h5>
					<div class="row">
						<a href="/clienteConsumingJsonAll"> Consuming Json</a>
					</div>
					<div class="row">
						<a href="/clienteRespondingJsonAll"> Responding Json</a>
					</div>
					<div class="row">
						<p>Consuming Json por Nome</p>
					</div>
					<div class="row " style="align: center">
						<div class="col s6">
							<label for="nomeConsuming">Nome:</label>
							<input type="text" name="nomeConsuming" id="nomeConsuming" style="width: 100%;"/>
						</div>
						<div class="col s1">
							<a href='javascript:void(0)' onclick="changeConsuming()" id="searchConsuming"><i class="material-icons left">search</i></a>
						</div>
					</div>
					<div class="row">
						<p>Responding Json por Nome</p>
					</div>
					<div class="row">
						<div class="col s6">
							<label for="nomeResponding">Nome:</label>
							<input type="text" name="nomeResponding" id="nomeResponding" style="width: 100%;"/>
						</div>
						<div class="col s1">
							<a href='javascript:void(0)' onclick="changeResponding()" id="searchResponding"><i class="material-icons left">search</i></a>
						</div>
					</div>
				</div>
				<div class="formCampanha col s6">
					<h5>Resultado:</h5>
					<span th:text="${resultNome}"></span> <span th:text="${cliente}"></span>
				</div>
			</div>
		</form>
	</div>

</body>
</html>